<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间，对应Mapper接口的全限定名 -->
<mapper namespace="cn.edu.qvtu.dao.StudentDao">

    <!-- SQL映射文件的核心元素... -->
    <insert id="addStudent">
        insert into student (stuid, stuname, stusex, stuphone)
        values (#{stuid}, #{stuname}, #{stusex}, #{stuphone})
    </insert>
    <update id="updateStudent">
        update student
        set stuname = #{stuname}, stusex = #{stusex}, stuphone = #{stuphone}
        where stuid = #{stuid}
    </update>
    <delete id="deleteStudent">
        delete from student where stuid = #{stuid}
    </delete>
    <select id="getStudent" resultType="cn.edu.qvtu.entity.Student">
        select * from student where stuid = #{stuid}
    </select>
    <select id="getStudents" resultType="cn.edu.qvtu.entity.Student">
        select * from student
    </select>
    <insert id="insertStudent">
        insert into student (stuid, stuname, stusex, stuphone)
        values (#{stuid}, #{stuname}, 1, null)
    </insert>

    <!-- SQL映射文件的核心元素... -->
</mapper>